*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
build/
app/build/
mobile/build/
wear/build/
.gradle/
node_modules/
server/dist/
/build
/captures
.externalNativeBuild
.cxx
local.properties
